

  ion-col{
    padding: 0px 12px;
    font-family: quranFont !important;
    line-height: 2.2;
    text-align: right;
  }

  .boxbismillah{
    border-bottom: 2px solid #666;
    top: 0px;
    position: relative;
  }

  #translation { 
    text-align: left;
  }

  .classicon {
    font-size: 30px;
    margin-right: 15px;
  }

  #menusticky {
    position: fixed;
    z-index: 20;
    background: aliceblue;
    width: 100%;
  }
  
  .number {
    font-size: .6em;
    display: contents;
  }
  .topmenu{
    background: #fdffe1;
    color: #2c6b79;

  }
  .fntsize {
    float: right;
    margin-right:5px;
    position: initial;
  }
  .titlesize {
    margin-left:5px;
    position: initial;
  }

  #goside {
    margin-right:20px;
  }

  .fontnumber {
    font-size: 1.7em;  
  }

  ion-icon {
    font-size: 20px;
  }

  #background{
    background: #e0f7f9;
    padding: 4px;
    height: 100%;
    background-size: max-content;

  }

  #surahheader{background: white !important;}
  #closeT {margin: auto;}
  #myDiv {min-height: auto; max-height: 380px; position: sticky;bottom: 0px;background: #f1e4e4;color: rgb(3, 3, 3);}
  #cardbottom {width: 100%; margin-top: 0px;}
  #cardbottom ion-card-content ion-icon {font-size: 32px;padding: 10px;}

  ion-content {
    --background:fffefa;
  }