#div {
    background: url('../../../assets/images/maxresdefault.jpg');
    height: 100%;
    background-size: max-content;
}

ion-card {
    font-size: 20px;
}

ion-card {
    background: white;
}

.text-right{
    text-align: right;
}
#iconmecca{
    margin-right: 1em;
}
#secondbox{
    margin-top:-20px;
}

.border {
    border-bottom: 1px solid #b9b9b9;
}

#btnmedium {
    --background: #4e397a;
    --color: #ffffff;
  }