<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Qiblat
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content >
     <div class="ion-text-center">
        <h2>
          {{cardinalPosition}} {{compassDegree}}&deg;
        </h2>
     </div> 

      <img id="image" src="../../../assets/images/compass.png">
        <img src="../../../assets/images/compass-arrow.png">

        <div class="ion-text-center">
          <h2>
            {{latCoords}} | {{lngCoords}}&deg;
          </h2>
       </div> 
   
      </ion-content>
